@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confermazione della tua E-Mail";
}

<link rel="stylesheet" href="~/css/ConfirmEmail.css" />
<body>
    <main style="background-color: rgb(250, 250, 250); width: 40rem; height: 11rem; border-radius: 2rem; box-shadow: 0px 0px 20px 20px #00000050">
        <form style="padding: 30px 40px 30px 35px; position: relative; width: 40rem;">
            <h1><i class="fa-solid fa-envelope fa-lg"></i>&nbsp;<i class="fa-solid fa-circle-check fa-lg"></i>&nbsp;&nbsp;E-Mail Confermato!</h1>
            <h5 style="padding-top: 20px;">Clicca per <a href="~/identity/account/login" style="text-decoration: none;"><kbd>Accedere</kbd></a></h5>
        </form>
        <div id="mycopyright">
            <a href="#" style="text-decoration: none;" id="copyright">CopyRight 2022 - HowDataWork.it - Rathour Vinay Partap Singh &nbsp; &nbsp; <i class="fa-solid fa-copyright fa-lg"></i>&nbsp;</a>
        </div>
    </main>
</body>