@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confermazione invio E-Mail per Password Reset";
}

<link rel="stylesheet" href="~/css/ForgotPasswordConfirmation.css" />
<body>
    <main style="background-color: rgb(250, 250, 250); width: 75rem; height: 12rem; border-radius: 2rem; box-shadow: 0px 0px 20px 20px #00000050">
        <form style="padding: 30px 40px 30px 35px; position: relative; width: 80rem;">
            <h1><i class="fa-solid fa-circle-check fa-xl"></i> &nbsp; Conferma la Password Dimenticata</h1>
            <br />
            <h3>Hey! Ti è appena stata inviata l'e-mail. Controlla la tua e-mail per resettare la password.</h3>
        </form>
        <div id="mycopyright">
            <a href="#" style="text-decoration: none;" id="copyright">CopyRight 2022 - HowDataWork.it - Rathour Vinay Partap Singh &nbsp; &nbsp; <i class="fa-solid fa-copyright fa-lg"></i>&nbsp;</a>
        </div>
    </main>
</body>

