@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<link rel="stylesheet" href="~/css/Privacy.css" />
<body>
    <main style="background-color: rgba(0, 0, 0, 0.700); width: 90rem; height: 40rem; border-radius: 1rem;">
        <div class="world-float">
            <img src="img/Miky.png" draggable="false" class="floating-miky" alt="Miky is flying :O OMG" style="width: 12rem;" />
        </div>
        <center>
            <div class="talking">
                <h1>Ti chiederai che ci faccio io qui?</h1>
                <br />
                <h3>Nemmeno io lo so... <i class="fa-solid fa-face-meh"></i> A giusto ora mi ricordo! <i class="fa-solid fa-face-grin-beam-sweat"></i></h3>
                <br />
                <h3 style="margin-bottom: 5px;">Scorri verso il basso e capirai! ;)</h3>
                <br /><br />
                <h5>&#60;&#47;scorrere verso il basso&#62;</h5>
                <br />
                <i style="font-size: 50px;" class="fa-solid fa-chevron-down fa-xl fa-beat"></i>
            </div>
        </center>
    </main>
    <br /><br /><br />
    <main style="background-color: rgba(0, 0, 0, 0.700); color: #f5f5f1; width: 90rem; height: 228rem; border-radius: 1rem; padding: 30px;">
        <h1>Politica sulla Privacy</h1>
        <p>Rispettiamo la tua privacy e ci impegniamo a proteggerla attraverso la nostra conformità alla presente informativa sulla privacy ("Informativa"). La presente Politica descrive i tipi di informazioni che possiamo raccogliere da te o che puoi fornire ("Informazioni personali") sul sito web di HowDataWork.its ("Sito web" o "Servizio") e qualsiasi dei suoi prodotti e servizi correlati (collettivamente, "Servizi"), e le nostre pratiche per la raccolta, utilizzare, mantenere, proteggere e divulgare tali informazioni personali. Descrive inoltre le scelte disponibili per l'utente in merito al nostro utilizzo delle informazioni personali e come è possibile accedervi e aggiornarle.</p>
        <p>La presente Informativa è un accordo giuridicamente vincolante tra l'utente ("Utente", "tu" o "tuo") e il gestore del presente Sito ("Operatore", "noi", "noi" o "nostro"). Se l'utente stipula il presente accordo per conto di un'azienda o di un'altra persona giuridica, dichiara di avere l'autorità di vincolare tale entità al presente accordo, nel qual caso i termini "Utente", "tu" o "tuo" si riferiranno a tale entità. Se non si dispone di tale autorità, o se non si accettano i termini del presente accordo, non si deve accettare questo accordo e non si può accedere e utilizzare il Sito Web e dei Servizi. Accedendo e utilizzando il Sito Web e i Servizi, l'utente riconosce di aver letto, compreso e accettato di essere vincolato dai termini della presente Informativa. La presente Politica non si applica alle pratiche delle aziende che non possediamo o controlliamo, o alle persone che non impieghiamo o gestiamo. Questa politica sulla privacy è stata creata con l'aiuto del generatore di privacy policy su <a style="text-decoration: none;" href="https://www.websitepolicies.com/privacy-policy-generator">https://www.websitepolicies.com/privacy-policy-generator</a></p>
        <h2>Raccolta di informazioni personali</h2>
        <p>L'utente può accedere e utilizzare il Sito Web e i Servizi senza comunicarci chi è e senza rivelare alcuna informazione mediante la quale qualcuno potrebbe identificarlo come persona specifica e identificabile. Se, tuttavia, si desidera utilizzare alcune delle funzionalità offerte sul sito Web, potrebbe essere richiesto di fornire alcune informazioni personali (ad esempio, il tuo nome e indirizzo e-mail).</p>
        <p>Riceviamo e conserviamo tutte le informazioni che ci fornisci consapevolmente quando crei un account,  o compili qualsiasi modulo sul Sito Web. Se necessario, tali informazioni possono includere:</p>
        <ul>
            <li>Dati dell'account (quali nome utente, ID utente univoco, password, ecc.)</li>
            <li>Informazioni di contatto (come indirizzo e-mail, numero di telefono, ecc.)</li>
        </ul>
        <p>Puoi scegliere di non fornirci le tue Informazioni personali, ma potresti non essere in grado di usufruire di alcune delle funzionalità del Sito Web. Gli utenti incerti su quali informazioni siano obbligatorie sono invitati a contattarci.</p>
        <h2>Privacy dei bambini</h2>
        <p>Non raccogliamo consapevolmente informazioni personali da bambini sotto i 18 anni. Se hai meno di 18 anni, non inviare Informazioni personali tramite il Sito Web e i Servizi. Se hai motivo di credere che un minore di 18 anni ci abbia fornito Informazioni personali attraverso il Sito Web e i Servizi, ti preghiamo di contattarci per richiedere la cancellazione delle Informazioni personali del bambino dai nostri Servizi.</p>
        <p>Incoraggiamo i genitori e i tutori legali a monitorare l'utilizzo di Internet dei loro figli e a contribuire a far rispettare la presente Politica istruendo i loro figli a non fornire mai Informazioni personali attraverso il Sito Web e i Servizi senza il loro permesso. Chiediamo inoltre che tutti i genitori e i tutori legali che sovrintendono alla cura dei bambini adottino le precauzioni necessarie per garantire che i loro figli siano istruiti a non fornire mai informazioni personali quando sono online senza il loro permesso.</p>
        <h2>Utilizzo e trattamento delle informazioni raccolte</h2>
        <p>Agiamo come responsabili del trattamento e responsabili del trattamento dei dati durante la gestione dei Dati personali a meno che non abbiamo stipulato un contratto di trattamento dei dati con te, nel qual caso tu saresti il titolare del trattamento e noi saremmo il responsabile del trattamento dei dati.</p>
        <p>Il nostro ruolo può anche variare a seconda della situazione specifica che coinvolge le informazioni personali. Agiamo in qualità di titolare del trattamento quando ti chiediamo di inviare le tue Informazioni personali necessarie per garantire l'accesso e l'utilizzo del Sito e dei Servizi. In tali casi, siamo responsabili del trattamento dei dati perché determiniamo le finalità e i mezzi del trattamento dei Dati personali.</p>
        <p>Agiamo in qualità di responsabili del trattamento dei dati in situazioni in cui l'utente invia Informazioni personali attraverso il Sito Web e i Servizi. Non possediamo, controlliamo o prendiamo decisioni in merito alle Informazioni personali inviate e tali Informazioni personali vengono elaborate solo dalle istruzioni dell'utente. In tali casi, l'Utente che fornisce le Informazioni Personali agisce come titolare del trattamento dei dati.</p>
        <p>Per rendere il Sito e i Servizi disponibili all'utente, o per adempiere a un obbligo legale, potremmo aver bisogno di raccogliere e utilizzare determinate Informazioni personali. Se non fornissi le informazioni che richiediamo, potremmo non essere in grado di fornirti i prodotti o i servizi richiesti. Tutte le informazioni che raccogliamo da te possono essere utilizzate per i seguenti scopi:</p>
        <ul>
            <li>Creare e gestire account utente</li>
            <li>Migliorare l'esperienza degli utenti</li>
            <li>Protezione dagli abusi e dagli utenti malintenzionati</li>
            <li>Gestire e gestire il sito web e i servizi</li>
        </ul>
        <p>L'elaborazione delle Informazioni personali dell'utente dipende dal modo in cui l'utente interagisce con il Sito Web e i Servizi, dal luogo in cui si trova nel mondo e dal caso in cui si applichi una delle seguenti condizioni: (i) hai dato il tuo consenso per uno o più scopi specifici; (ii) la fornitura di informazioni è necessaria per l'esecuzione di un accordo con te e/o per eventuali obblighi precontrattuali; (iii) il trattamento è necessario per il rispetto di un obbligo di legge a cui si è soggetti; (iv) il trattamento è legato ad un compito che viene svolto nell'interesse pubblico o l'esercizio dell'autorità ufficiale di nostra competenza; (v) il trattamento è necessario per gli interessi legittimi perseguiti da noi o da terzi.</p>
        <p>Si noti che in alcune legislazioni potremmo essere autorizzati a trattare le informazioni fino a quando non si oppone a tale trattamento di opt-out, senza dover fare affidamento sul consenso o qualsiasi altra base giuridica. In ogni caso, saremo lieti di chiarire la base giuridica specifica che si applica al trattamento, e in particolare se la fornitura di informazioni personali è un requisito legale o contrattuale, o un requisito necessario per stipulare un contratto.</p>
        <h2>Gestione delle informazioni</h2>
        <p>Puoi cancellare alcune Informazioni personali che abbiamo su di te. Le Informazioni personali che puoi cancellare possono cambiare con il cambiamento del Sito e dei Servizi. Quando l'utente elimina le Informazioni personali, tuttavia, possiamo mantenere una copia delle Informazioni personali non registrate nei nostri registri per la durata necessaria a rispettare i nostri obblighi nei confronti delle nostre affiliate e partner e per gli scopi descritti di seguito. Se desideri eliminare i tuoi Dati Personali o eliminare definitivamente il tuo account, puoi farlo nella pagina delle impostazioni del tuo account sul Sito Web.</p>
        <h2>Divulgazione di informazioni</h2>
        <p>Per mantenere il più alto livello di privacy e per proteggere le tue Informazioni personali nella massima misura, non condividiamo le tue Informazioni personali con nessuno e per nessun motivo.</p>
        <h2>Conservazione delle informazioni</h2>
        <p>Conserveremo e utilizzeremo le Informazioni personali dell'utente per il periodo necessario a rispettare i nostri obblighi legali, fintanto che l'account utente rimane attivo, per far rispettare i nostri accordi, risolvere controversie e a meno che non sia richiesto o consentito dalla legge un periodo di conservazione più lungo.</p>
        <p>Possiamo utilizzare tutti i dati aggregati derivati o che incorporano le Informazioni personali dell'utente dopo l'aggiornamento o l'eliminazione, ma non in un modo che possa identificarlo personalmente. Una volta scaduto il periodo di conservazione, i Dati personali saranno cancellati. Pertanto, il diritto di accesso, il diritto di cancellazione, il diritto di rettifica e il diritto alla portabilità dei dati non possono essere fatti valere dopo la scadenza del periodo di conservazione.</p>
        <h2>Cookies</h2>
        <p>Il nostro Sito Web e i nostri Servizi utilizzano "cookie" per personalizzare la tua esperienza online. Un cookie è un file di testo che viene inserito sul disco rigido da un server di pagina web. I cookie non possono essere utilizzati per eseguire programmi o fornire virus al computer. I cookie sono assegnati in modo univoco all'utente e possono essere letti solo da un server web nel dominio che ha rilasciato il cookie all'utente. Clicca <a style="text-decoration: none;" href="https://www.cookieinfo.org/it">qui</a> per saperne di più sui cookie e su come funzionano.</p>
        <p>Possiamo utilizzare i cookie per raccogliere, archiviare e tenere traccia delle informazioni per motivi di sicurezza e personalizzazione e a fini statistici. Si prega di notare che è possibile accettare o rifiutare i cookie. La maggior parte dei browser web accetta automaticamente i cookie per impostazione predefinita, ma è possibile modificare le impostazioni del browser per rifiutare i cookie, se si preferisce.</p>
        <h2>Non tenere traccia dei segnali</h2>
        <p>Alcuni browser incorporano una funzione Do Not Track che segnala ai siti Web visitati che non si desidera avere la tua attività online monitorata. Il tracciamento non equivale all'utilizzo o alla raccolta di informazioni in relazione a un sito web. Per questi scopi, il monitoraggio si riferisce alla raccolta di informazioni personali identificabili da parte dei consumatori che utilizzano o visitano un sito web o un servizio online mentre si muovono attraverso diversi siti Web nel corso del tempo. Come i browser comunicano il segnale Do Not Track non è ancora uniforme. Di conseguenza, il Sito Web e i Servizi non sono ancora impostati per interpretare o rispondere ai segnali Do Not Track comunicati dal browser dell'utente. Anche così, come descritto in modo più dettagliato in questa Politica, limitiamo il nostro uso e la raccolta delle vostre informazioni personali.</p>
        <h2>Collegamenti ad altre risorse</h2>
        <p>Il Sito e i Servizi contengono link ad altre risorse che non sono di nostra proprietà o controllate. Si prega di essere consapevoli del fatto che non siamo responsabili per le pratiche di privacy di tali altre risorse o terze parti. Ti invitiamo a essere consapevole quando lasci il Sito Web e i Servizi e a leggere le informative sulla privacy di ogni risorsa che può raccogliere Informazioni Personali.</p>
        <h2>Sicurezza delle informazioni</h2>
        <p>Proteggiamo le informazioni che fornisci sui server in un ambiente controllato e sicuro, protetto da accessi, usi o divulgazioni non autorizzati. Manteniamo ragionevoli salvaguardie amministrative, tecniche e fisiche per proteggere contro l'accesso non autorizzato, l'uso, la modifica e la divulgazione delle Informazioni personali sotto il nostro controllo e custodia. Tuttavia, non è possibile garantire la trasmissione dei dati su Internet o sulla rete wireless.</p>
        <p>Pertanto, mentre ci sforziamo di proteggere le informazioni personali, l'utente riconosce che (i) ci sono limitazioni di sicurezza e privacy di Internet che sono al di fuori del nostro controllo; (ii) la sicurezza, l'integrità, e la privacy di tutte le informazioni e i dati scambiati tra l'utente e il Sito e i Servizi non possono essere garantiti; e (iii) tali informazioni e dati possono essere visualizzati o manomessi in transito da una terza parte, nonostante gli sforzi compiuti.</p>
        <p>Poiché la sicurezza delle Informazioni personali dipende in parte dalla sicurezza del dispositivo che utilizzi per comunicare con noi e dalla sicurezza che utilizzi per proteggere le tue credenziali, ti preghiamo di prendere le misure appropriate per proteggere queste informazioni.</p>
        <h2>Violazione dei dati</h2>
        <p>Nel caso in cui venissimo a conoscenza che la sicurezza del Sito e dei Servizi è stata compromessa o le Informazioni personali degli Utenti sono state divulgate a terze parti non correlate a seguito di attività esterne, inclusi, a titolo esemplificativo, attacchi di sicurezza o frodi, ci riserviamo il diritto di adottare misure ragionevolmente appropriate, tra cui, ma non solo, indagini e relazioni, nonché la notifica e la cooperazione con le autorità preposte all'applicazione della legge. In caso di violazione dei dati, compiremo ogni ragionevole sforzo per informare le persone interessate se riteniamo che vi sia un ragionevole rischio di danno per l'Utente a seguito della violazione o se la notifica è altrimenti richiesta dalla legge. Quando lo faremo, ti spediremo una lettera.</p>
        <h2>Modifiche e modifiche</h2>
        <p>Ci riserviamo il diritto di modificare la presente Politica o i suoi termini relativi al Sito Web e ai Servizi in qualsiasi momento a nostra discrezione. Quando lo faremo, rivedremo la data aggiornata in fondo a questa pagina. Potremmo anche fornirti un avviso in altri modi a nostra discrezione, ad esempio attraverso le informazioni di contatto che hai fornito.</p>
        <p>Una versione aggiornata della presente Informativa avrà effetto immediatamente dopo la pubblicazione della Politica modificata, salvo diversamente specificato. L'uso continuato del Sito Web e dei Servizi dopo la data di entrata in vigore della Politica rivista (o di qualsiasi altro atto specificato in quel momento) costituirà il consenso a tali modifiche. Tuttavia, senza il tuo consenso, non utilizzeremo le tue Informazioni personali in modo materialmente diverso da quanto dichiarato al momento della raccolta delle tue Informazioni personali.</p>
        <h2>Accettazione di questa politica</h2>
        <p>L'utente riconosce di aver letto la presente Informativa e di accettare tutti i suoi termini e condizioni. Accedendo e utilizzando il Sito Web e i Servizi e inviando le tue informazioni, accetti di essere vincolato dalla presente Informativa. Se non accetti di rispettare i termini della presente Politica, non sei autorizzato ad accedere o utilizzare il Sito Web e i Servizi.</p>
        <h2>Contatto</h2>
        <p>In caso di domande, dubbi o reclami riguardanti la presente Politica, le informazioni in nostro possesso su di te o se desideri esercitare i tuoi diritti, ti invitiamo a contattarci utilizzando i seguenti dati: <a style="text-decoration: none;" href="mailto:vinay.rathour@stu.fondazioneikaros.org">vinay.rathour@stu.fondazioneikaros.org</a></p>
        <p>Responsabile della protezione dei dati: Rathour Vinay Partap Singh - E-Mail: <a style="text-decoration: none;" href="mailto:vinay.rathour@stu.fondazioneikaros.org">vinay.rathour@stu.fondazioneikaros.org</a></p>
        <p>Cercheremo di risolvere i reclami e le controversie e faremo ogni ragionevole sforzo per onorare la tua volontà di esercitare i tuoi diritti il più rapidamente possibile e in ogni caso, entro i termini previsti dalle leggi sulla protezione dei dati applicabili.</p>
        <h5><i class="fa-solid fa-calendar-days"></i>&nbsp; Questo documento è stato aggiornato l'ultima volta il 19 giugno 2022</h5>
        <br /><br />
        <h5>Clicca per Tornare alla <a style="text-decoration: none;" href="Index"><kbd>Pagina Home</kbd></a></h5>
    </main>
</body>