body {
    background: linear-gradient(242deg, #2bc0e4, #93e47c, #ddf74d);
    background-size: 600% 600%;
    -webkit-animation: bg-rpc-color 8s ease infinite;
    -moz-animation: bg-rpc-color 8s ease infinite;
    -o-animation: bg-rpc-color 8s ease infinite;
    animation: bg-rpc-color 8s ease infinite;
    padding-top: var(--bs-gutter-x,15rem);
    padding-right: var(--bs-gutter-x,11rem);
    padding-left: var(--bs-gutter-x,11rem);
    padding-bottom: var(--bs-gutter-x,15rem);
}

@-webkit-keyframes bg-rpc-color {
    0% {
        background-position: 0% 73%
    }

    50% {
        background-position: 100% 28%
    }

    100% {
        background-position: 0% 73%
    }
}

@-moz-keyframes bg-rpc-color {
    0% {
        background-position: 0% 73%
    }

    50% {
        background-position: 100% 28%
    }

    100% {
        background-position: 0% 73%
    }
}

@-o-keyframes bg-rpc-color {
    0% {
        background-position: 0% 73%
    }

    50% {
        background-position: 100% 28%
    }

    100% {
        background-position: 0% 73%
    }
}

@keyframes bg-rpc-color {
    0% {
        background-position: 0% 73%
    }

    50% {
        background-position: 100% 28%
    }

    100% {
        background-position: 0% 73%
    }
}

#mycopyright a {
    position: absolute;
    left: -42rem;
    transition: 0.3s;
    padding: 15px;
    width: 47rem;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mycopyright a:hover {
    left: 0;
}

#copyright {
    bottom: 3rem;
    background-color: rgba(39, 39, 39, 0.377)
}
