<!-- Page Used To BLOCK C# Navigation Manager, Please Do Not Put Any Action Here! -->

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div>
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}