@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Scarica i tuoi dati";
}

<h4>Scarica i tuoi dati in formato <kbd>.JSON</kbd></h4>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}