@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
}
<link rel="stylesheet" href="~/css/ManageAccount.css" />
<body>
    <main style="background-color: rgb(250, 250, 250); width: 85rem; height: 40rem; border-radius: 2rem; box-shadow: 0px 0px 20px 20px #00000050">
        <header style="padding: 2px 10px 2px 20px; float: left; margin-top: 10px; margin-bottom: 10px; position: relative; width: 25rem; height: 38.60rem; border-right: solid #b6b6b6 1px;">
            <h2>Gestisci il tuo Account</h2>
            <h6>Qui puoi gestire i dati del tuo account, fare azioni di tipo modificare i tuoi dati, rafforzarli o eliminare il tuo account dal Database del HowDataWork.it</h6>
            <hr />
            <ul class="nav nav-pills flex-column" style="margin-bottom: 17.50rem; margin-left: -15px; margin-top: -10px;">
                <li class="nav-item"><a class="nav-link link-dark disabled" id="profile" asp-page="./Index"><i class="fa-solid fa-arrow-right fa-lg"></i> &nbsp;Profilo Utente</a></li>
                <li class="nav-item"><a class="nav-link link-dark disabled" id="change-password" asp-page="./ChangePassword"><i class="fa-solid fa-arrow-right fa-lg"></i> &nbsp;Cambia la Password</a></li>
                <li class="nav-item"><a class="nav-link link-dark disabled" id="personal-data" asp-page="./PersonalData"><i class="fa-solid fa-arrow-right fa-lg"></i> &nbsp;I tuoi Dati Personali</a></li>
            </ul>
            <hr />
            <div style="bottom: 0;">
                <h6><i class="fa-solid fa-house-chimney"></i> &nbsp;Clicca per tornare alla <a style="text-decoration: none;" href="https://localhost:44382"><kbd>Pagina Home</kbd></a></h6>
                <h6><i class="fa-solid fa-life-ring"></i> &nbsp;Server Support? Clicca <a style="text-decoration: none;" href="mailto:vinay.rathour@stu.fondazioneikaros.org"><kbd>QUI</kbd></a></h6>
            </div>
        </header>
        <form id="set-password-form" method="post" style="padding: 2px 20px 10px 10px; margin-top: 10px; margin-bottom: 10px; float: right; position: relative; width: 60rem; height: 38.60rem;">
            <h2><i class="fa-solid fa-key"></i>&nbsp;Setta la Password</h2>
            <partial name="_StatusMessage" for="StatusMessage" />
            <p style="width: 45rem; margin-top: 10px;" class="alert alert-info" role="alert">Non hai un nome utente/password locale per questo sito. Aggiungi un account locale in modo da poter accedere senza un accesso esterno.</p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="margin-top: 12px; margin-bottom: 12px;">
                <label class="h5" asp-for="Input.NewPassword"><i class="fa-solid fa-file-signature"></i>&nbsp;Nuova Password</label>
                <input type="password" asp-for="Input.NewPassword" class="form-control" style="width: 25rem;" placeholder="Crea la nuova password"  />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div style="margin-top: 12px; margin-bottom: 20px;">
                <label class="h5" asp-for="Input.ConfirmPassword"><i class="fa-solid fa-circle-check"></i>&nbsp;Conferma la Password</label>
                <input type="password" asp-for="Input.ConfirmPassword" class="form-control" style="width: 25rem;" placeholder="Conferma la nuova password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="font-size: 15px; margin-top: -8px;">Cambia e Aggiorna</button>
        </form>
        <div id="mycopyright">
            <a href="#" style="text-decoration: none;" id="copyright">CopyRight 2022 - HowDataWork.it - Rathour Vinay Partap Singh &nbsp; &nbsp; <i class="fa-solid fa-copyright fa-lg"></i>&nbsp;</a>
        </div>
    </main>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}